.Bottom {
    width: 100%;
    margin-top: 140px;
}

.Bottom .box {
    display: flex;
    align-items: center;
}

.Bottom .box .img {
    width: 50%;
}

.Bottom .box .img img {
    width: 100%;
    height: 700px;
}

.Bottom .box .card {
    width: 50%;
    height: 700px;
    background-color: #E3EEED;
    padding-top: 150px;
    padding-bottom: 100px;
    padding-left: 150px;
}

.Bottom .box .card h2.title {
    margin: 50px 0px;
}

.Bottom .box .card button {
    padding: 13px 24px;
    font-size: 13px;
    font-weight: 700;
    line-height: 21px;
    border: none;
    background: #43806C;
    border-radius: 6px;
    color: white;
}
@media(max-width: 900px){
    .Bottom .box .img{
        width: 100%;
    }
    .Bottom .box .card{
        display: none;
    }
}