* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

/*font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

h2.title {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
  color: #214E41;
}
p.text{
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #757575;
}
a{
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  color: #43806C;
  display: block;
  text-transform: uppercase;
}
@media(max-width: 650px){
  h2.title{
    font-size: 20px;
    line-height: 30px;
  }
  p.text{
    font-size: 15px;
    line-height: 25px;
  }
  a{
    font-size: 10px;
  }
}